POSTGRES_DB_HOST=localhost
POSTGRES_DB_PORT=5432
POSTGRES_DB_NAME=orders_stock_flow
POSTGRES_DB_USER=postgres
POSTGRES_DB_PASS=postgres
ORDERS_API_PORT=8001
STOCK_API_PORT=8002
WORKER_POLL_INTERVAL_SECONDS=1.0
